<div class="panel panel-default scrollable">
    <table class="table table-hover table-striped">
        <thead>
            <tr>
                <th>Teacher</th>
                <th>Name</th>
                <th>Room Number</th>
                <th>Period</th>
            </tr>
        </thead>
        <tbody>
            <% for(var c = 0; c < classes.length; c++) { %>
            <tr data-href=<%= "/user/classes/edit/" + classes[c].id %>>
                <td field="teacher"><%= classes[c].teacher_name %></td>
                <td field="name"><%= classes[c].name %></td>
                <td field="room_num"><%= classes[c].room_num %></td>
                <td field="period"><%= classes[c].period %></td>
            </tr>
            </a>
            <% } %>
        </tbody>
    </table>
</div>

<button style="float: right" type="button" class="btn btn-default btn-sm" data-href="/user/classes/edit">
    <span class="glyphicon glyphicon-pencil"></span> Edit
</button>
