<script src="/static/js/edit_teachers.js"></script>
<script>setInitialRowSize(<%- teachers.length - 1 %>)</script>
<div class="panel panel-default scrollable">
    <table class="table table-striped table-condensed table-hover">
        <thead>
            <tr>
                <th>Name</th>
                <th>Email</th>
                <th>SAS Room Num</th>
                <th>School</th>
            </tr>
        </thead>
        <tbody class="editable-list">
            <% for(var t = 0; t < teachers.length; t++) { %>
            <tr user_id=<%= teachers[t].id %> row_index=<%= t %>>
                <td><input class="form-control" type="text" value=<%- "'" + teachers[t].name + "'" %>></td>
                <td><input class="form-control" type="text" value=<%= teachers[t].email %>></td>
                <td>
                    <select id="sas-select">
                        <% if (teachers[t].sas_class_id) { %>
                        <option value=<%= teachers[t].sas_class_id %>><%= teachers[t].room_num %></option>
                        <% } else { %>
                        <option></option>
                        <% } %>
                        <% for (var s = 0; s < sas_classes.length; s++) { %>
                        <option value=<%= sas_classes[s].id %>><%= sas_classes[s].room_num %></option>
                        <% } %>
                    </select>
                </td>
                <td>
                    <select id="school-select">
                        <% if (teachers[t].school_name) { %>
                        <option value=<%= teachers[t].school_id %>><%= teachers[t].school_name %></option>
                        <% } else { %>
                        <option></option>
                        <% } %>
                        <% for (var s = 0; s < schools.length; s++) { %>
                        <option value=<%= schools[s].id %>><%= schools[s].name %></option>
                        <% } %>
                    </select>
                </td>
                <td>
                    <button onclick="removeRow(this)" style="float: right" type="button" class="btn btn-default btn-sm">
                        <span class="glyphicon glyphicon-minus"></span> Remove
                    </button>
                </td>
            </tr>
            <% } %>
        </tbody>
    </table>
</div>

<button onclick="addRow()" type="button" class="btn btn-default btn-sm">
    <span class="glyphicon glyphicon-plus"></span> Add
</button>

<button style="float: right" onclick="sendStudentChanges()" type="button" class="btn btn-success btn-sm" >
    <span class="glyphicon glyphicon-check"></span> Done
</button>
