<script src="/static/js/edit_sas_classes.js"></script>
<script>setInitialRowSize(<%- sas_classes.length - 1 %>)</script>
<div class="panel panel-default scrollable">
    <table class="table table-striped table-condensed table-hover">
        <thead>
            <tr>
                <th>Teacher</th>
                <th>Room Number</th>
                <th>Student Cap</th>
            </tr>
        </thead>
        <tbody class="editable-list">
            <% for(var c = 0; c < sas_classes.length; c++) { %>
            <tr class_id=<%= sas_classes[c].id %> row_index=<%= c %>>
                <td><%= sas_classes[c].teacher_name %></td>
                <td><input class="form-control" type="text" value=<%= sas_classes[c].room_num %>></td>
                <td><input class="form-control" type="text" value=<%= sas_classes[c].student_cap %>></td>
                <td>
                    <button onclick="removeRow(this)" style="float: right" type="button" class="btn btn-default btn-sm">
                        <span class="glyphicon glyphicon-minus"></span> Remove
                    </button>
                </td>
            </tr>
            <% } %>
        </tbody>
    </table>
</div>

<button onclick="addRow()" type="button" class="btn btn-default btn-sm">
    <span class="glyphicon glyphicon-plus"></span> Add
</button>

<button style="float: right" onclick="sendSASChanges()" type="button" class="btn btn-success btn-sm" >
    <span class="glyphicon glyphicon-check"></span> Done
</button>
