<script src="/static/js/edit_students.js"></script>
<script>setInitialRowSize(<%- students.length - 1 %>)</script>
<div class="panel panel-default scrollable">
    <table class="table table-striped table-condensed table-hover">
        <thead>
            <tr>
                <th>Name</th>
                <th>Email</th>
                <th>SAS Room Number</th>
                <th>School</th>
            </tr>
        </thead>
        <tbody class="editable-list">
            <% for(var s = 0; s < students.length; s++) { %>
            <tr user_id=<%= students[s].id %> row_index=<%= s %>>
                <td><input class="form-control" type="text" value=<%- "'" + students[s].name + "'" %>></td>
                <td><input class="form-control" type="text" value=<%= students[s].email %>></td>
                <td><%= students[s].room_num %></td>
                <td>
                    <select id="school-select">
                        <% if (students[s].school_name) { %>
                        <option value=<%= students[s].school_id %>><%= students[s].school_name %></option>
                        <% } else { %>
                        <option></option>
                        <% } %>
                        <% for (var s = 0; s < schools.length; s++) { %>
                        <option value=<%= schools[s].id %>><%= schools[s].name %></option>
                        <% } %>
                    </select>
                </td>
                <td>
                    <button onclick="removeRow(this)" style="float: right" type="button" class="btn btn-default btn-sm">
                        <span class="glyphicon glyphicon-minus"></span> Remove
                    </button>
                </td>
            </tr>
            <% } %>
        </tbody>
    </table>
</div>

<button onclick="addRow()" type="button" class="btn btn-default btn-sm">
    <span class="glyphicon glyphicon-plus"></span> Add
</button>

<button style="float: right" onclick="sendStudentChanges()" type="button" class="btn btn-success btn-sm" >
    <span class="glyphicon glyphicon-check"></span> Done
</button>
