<html lang="en">
    <head>
        <% if (!user.sas_name) { %>
        <title>Admin Portal - <%= title %></title>
        <% } else { %>
        <title><%= user.sas_name %> - <%= title %></title>
        <% } %>
        <link rel="stylesheet" type="text/css" href="/static/bootstrap/css/bootstrap.css">
        <link rel="stylesheet" type="text/css" href="/static/bootstrap-combobox/css/bootstrap-combobox.css">
        <link rel="stylesheet" type="text/css" href="/static/css/main.css">

        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
        <script src="/static/bootstrap/js/bootstrap.min.js"></script>
        <script src="/static/bootstrap-combobox/js/bootstrap-combobox.js"></script>
        <script src="/static/bootstrap-select/js/bootstrap-select.js"></script>
        <script src="/static/js/main.js"></script>
    </head>
    <body>
        <div class="container-fluid">

            <nav class="navbar navbar-default">
                <div class="navbar-header">
                    <a class="navbar-brand" href="/user"><%= title %></a>
                </div>
                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                    <ul class="nav navbar-nav">
                        <!-- User nav goes here -->
                    </ul>
                    <ul class="nav navbar-nav navbar-right">
                        <li class="link"><a href="/logout">Sign Out</a></li>
                    </ul>
                </div>
            </nav>

            <h1><%= title %>&ensp;<img src="/static/images/ajax-loader.gif" width="20" id="loading-indicator" style="display:none" /></h1><br />
            <%- include("user/" + page + ".ejs") %>

        </div>

    </body>
</html>
